
.card-rating {
    max-inline-size: 25.625rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.875rem;
    background-image: linear-gradient(rgba(37, 45, 55, 0.65), var(--Dark-Blue), rgba(37, 45, 55, 0.3));
    border-radius: 1.5rem;
    color: var(--White);
}
.icon-star {
    inline-size: 3rem;
    block-size: 3.125rem;
    padding: 1rem 0.875rem;
    background-color: var(--Dark-Blue-modal);
    border-radius: 50%;
}
.stars-content {
    display: flex;
    justify-content: space-between;
}
.rating__question {
    font-size: 1.75rem;
    font-weight: var(--weight-Bold);
    margin: 0 0 1rem 0;
}
.rating__detalle {
    color: var(--Light-Grey);
    line-height: 160%;
}
.rating__calificacion {
    display: flex;
    justify-content: space-between;
}
.C-n {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 3.375rem;
    block-size: 3.375rem;
    border-radius: 50%;
    font-weight: var(--weight-Bold);
    color: var(--Light-Grey);
    background-color: var(--Dark-Blue-modal);
}
.C-n span {
    pointer-events: none;
}
.C-n:hover {
    background-color: var(--Orange);
    color: var(--Very-Dark-Blue);
    cursor: pointer;
}
.C-n.is-Active {
    background-color: var(--White);
    color: var(--Very-Dark-Blue);
}

/* Responsividad */
@media screen and (max-width: 320px) {
    .C-n {
        inline-size: 3rem;
        block-size: 3rem;
    }
}
